# Entornos
.env
.venv
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Tests
.pytest_cache/
.coverage
htmlcov/
coverage.xml
